---
//コードフェンス（—-）内のコードは静的HTMLに変換される

import Card from "../components/card.astro";
import List from "../components/list.astro";
import Parent from "../components/parent.astro";

const hello: string = "Hello, World";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Astro</title>
    </head>
    <body>
        <h1>{hello}</h1>
        <List />
        <Parent>
            <p>子要素だよ～ン</p>
            <p>子要素だよ～ン</p>
            <p>子要素だよ～ン</p>
        </Parent>
        <div class="card-field">
            <Card title="Hello" content="This is a content" />
            <Card title="Hello" content="This is a content" />
            <Card title="Hello" content="This is a content" />
        </div>
    </body>
</html>

<style>
    .card-field {
        display: flex;
    }
</style>
