<div>
    <h1>親だよ～ン</h1>
    <p>ここから下は、子要素だよ～ん</p>
    <slot />
</div>

<style>
    div {
        margin-right: auto;
        margin-left: auto;
        width: 300px;
        height: 300px;
    }
</style>
